<header class="search-header">
  <div class="search-header-container">
    <!-- Logo -->
    <div class="logo">
      <div class="pokeball-icon">
        <div class="pokemon-pin"></div>
      </div>
      <span>PokéSearch</span>
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
      <input
        type="text"
        placeholder="search for name, id or type..."
        class="search-input"
        (keyup)="debounce.next($event.target)"
        [value]="value"
      />
      <svg
        class="search-icon"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35a7.5 7.5 0 10-1.4 1.4L21 21z" />

      </svg>
    </div>

  </div>
</header>
