   <!--
    Componente de cabeçalho de busca.
    - (typing)="filtraPokemon($event)": quando o usuário digitar, dispara o método de filtro passando o evento.
    - [value]="filtro": passa o valor atual do filtro como propriedade para o componente, permitindo controle do input.
  -->
  <app-search-header
    (typing)="filtraPokemon($event)"
    [value]="filtro">
  </app-search-header>
  <!--
    Container principal que agrupa todos os cards de Pokémon e o componente de busca.
    Normalmente usado para aplicar estilos de layout, como grid ou flexbox.
  -->
  <div class="pokemon-container">
  <!--
    Estrutura de repetição (ngFor) que percorre a lista de Pokémons mapeados (listaMap).
    Para cada Pokémon da lista, será criado um card com imagem e ID.
  -->
  <div class="pokemon-card" *ngFor="let pokemon of listaPokemon">
      <!--
        Retorna a imagem (GIF) que corresponde ao ID do Pokémon usando property binding.
      -->
      <div class="pokemon-image">
        <img
          [src] = "'https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/other/dream-world/'+ pokemon.id + '.svg'"
          (error) = "setFallbackImage($event)"
          [alt] = "pokemon.nome"
          />
      </div>
      <!-- INFORMAÇÕES -->
      <div class="pokemon-info">
        <p>{{ pokemon.nome }}</p>
      </div>
      <div class="pokemon-id">
        <p>#{{ pokemon.id }}</p>
        <p>#{{pokemon.info?.types?.[0]?.type?.name }}</p>
      </div>
  </div>
</div>
