<!-- Componente de cabeçalho de busca -->
<app-search-header
  (typing)="filtraPokemon($event)"
  [value]="filtro">
</app-search-header>

<!-- Container principal que agrupa todos os cards de Pokémon -->
<div class="pokemon-container">

  <!-- Estrutura de repetição com cards detalhados -->
  <div
    class="pokemon-card"
    *ngFor="let pokemon of listaPokemonExibida"
    [ngStyle]="getStyleColors(pokemon)"
    (click)="abrirDetalhe(pokemon)"

    >
    <!-- ID do Pokémon -->
    <span class = "pokemon-card-number" >
    # {{ pokemon.id }}
    </span>
    <!-- Imagem do Pokémon -->
    <div class="pokemon-image">
      <img
        [src]="pokedexService.getPokemonImageUrl(pokemon.id)"
        [alt]="pokemon.nome + ' image'"
        class="pokemon-card-image"
        appImageFallback
      />
    </div>

    <!-- Nome do Pokémon -->
    <span class="pokemon-card-name">
      {{ pokemon.nome }}
    </span>
    <div class="type-icon-wrapper">

      <div *ngFor="let typeInfo of pokemon.info.types"
           class="pokemon-type-icon"
           [style.background-image]="'url(' + pokedexService.getTypeIcon(typeInfo.type.name) + ')'">
      </div>

    </div>
    <div class="pokemon-type-text">
      <ng-container *ngFor="let tipo of pokemon.info?.types; let last = last">
        {{ tipo.type.name }}<span *ngIf="!last"> / </span>
      </ng-container>
    </div>
</div>
<!-- Detector de scroll -->
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="carregarMaisPokemons()"
>
</div>



  <br><br>


</div>
