
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2em ;
}

body {
  font-family: 'Quicksand', sans-serif;
    background-color: hsl(220, 7%, 24%);
}

.modal-maior .modal-content {
  min-height: 780px;
}

.modal-extra-grande .modal-content {
  min-height: 800px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/*
  Override global para o contêiner do modal.
  Isso garante que ele fique 100% invisível, deixando seu design brilhar.
*/
.modal-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
